yocto/.git/*
yocto/bitbake/*
yocto/build/*
yocto/documentation/*
yocto/meta-poky/*
yocto/meta-selftest/*
yocto/meta-skeleton/*
yocto/meta-yocto-bsp/*
yocto/meta/*
yocto/meta-angstrom/*
yocto/meta-raspberrypi/*
yocto/meta-openembedded/*
yocto/meta-qt5/*
yocto/scripts/*
yocto/LICENSE
yocto/oe-init-build-env
yocto/README.hardware
yocto/README.poky
yocto/README.LSB
yocto/README.qemu
yocto/.templateconf
yocto/.gitignore
