[submodule "yocto"]
	path = yocto
	url = http://git.yoctoproject.org/git/poky
	branch = thud
[submodule "yocto/meta-raspberrypi"]
	path = yocto/meta-raspberrypi
	url = git://git.yoctoproject.org/meta-raspberrypi
	branch = thud
[submodule "yocto/meta-angstrom"]
	path = yocto/meta-angstrom
	url = git://github.com/Angstrom-distribution/meta-angstrom.git
	branch = angstrom-v2018.12-thud
[submodule "yocto/meta-qt5"]
	path = yocto/meta-qt5
	url = https://github.com/meta-qt5/meta-qt5.git
	branch = thud
[submodule "yocto/meta-openembedded"]
	path = yocto/meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = thud
